[Desktop Entry]
Version=1.0
Type=Link
Name=Full article: Airbnb and crime in Barcelona (Spain): testing the relationship using a geographically weighted regression
Comment=
Icon=user-bookmarks
URL=https://www.tandfonline.com/doi/full/10.1080/19475683.2020.1831603
