[Desktop Entry]
Version=1.0
Type=Link
Name=ENQUESTA DE SERVEIS MUNICIPALS
Comment=
Icon=user-bookmarks
URL=https://dades.ajuntament.barcelona.cat/enquesta-serveis-municipals/
