[Desktop Entry]
Version=1.0
Type=Link
Name=2022 Airbnb Statistics: Usage, Demographics, and Revenue Growth
Comment=
Icon=user-bookmarks
URL=https://www.stratosjets.com/blog/airbnb-statistics/
